body {
  font-family: sans-serif;
  text-align: center;
  padding: 40px;
  background-color: pink;
}

.stage {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  gap: 40px;
}

.seal {
  display: inline-block;
  transform: scale(1.5);
  transform-origin: center;
}

.seal .face {
  position: relative;
  width: 200px;
  height: 150px;
  background: gray;
  border-radius: 50% / 60%;
}

.eye {
  position: absolute;
  top: 40px;
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
}

.eye::after {
  content: "";
  position: absolute;
  top: 6px; /* vertical position of shine */
  left: 6px; /* horizontal position of shine */
  width: 4px; /* width of shine */
  height: 4px; /* height of shine */
  background: rgba(255, 255, 255, 1);
  border-radius: 50% 50% 0 0; /* top half of a circle = semicircle */
}

.eye.left {
  left: 50px;
}

.eye.right {
  right: 50px;
}

.nose {
  position: relative;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 12px;
  background: black;
  border-radius: 50% / 50%;
}

.whiskers {
  position: relative;
  top: 50%;
}

.whiskers span {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
  border-top: 2px solid black;
  border-radius: 50%;
  transform-origin: 0 50%;
}

.whiskers.left {
  right: 200%;
}

.whiskers.left span:nth-child(1) {
  transform: translateY(-15px) rotate(5deg);
}

.whiskers.left span:nth-child(2) {
  transform: translateY(-5px) rotate(-5deg);
}

.whiskers.left span:nth-child(3) {
  transform: translateY(5px) rotate(-15deg);
}

.whiskers.right {
  left: 100%;
}

.whiskers.right span:nth-child(1) {
  transform: translateY(-10px) rotate(-5deg);
}

.whiskers.right span:nth-child(2) {
  transform: translateY(-7px) rotate(5deg);
}

.whiskers.right span:nth-child(3) {
  transform: translateY(-5px) rotate(15deg);
}

.mouth {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 10px;
  border-bottom: 3px solid black;
  border-radius: 0 0 50% 50%;
}

.buttons {
  position: relative;
  width: 100%;
  height: 80px;
}

.buttons button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.yes {
  left: 30%;
}

.no {
  position: fixed; /* relative to the screen */
  top: 100%;
  left: 60%;
  transform: translate(-50%, -50%);
  transition:
    left 0.1s ease,
    top 0.1s ease; /* smooth motion */
  z-index: 1000; /* above everything else */
}
