body {
  font-family: sans-serif;
  text-align: center;
  padding: 40px;
  background-color: pink;
}

.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}

.seal .face {
  position: relative;
  width: 200px;
  height: 150px;
  background: #c2a77f;
  border-radius: 50% / 60%;
}

.eye {
  position: absolute;
  top: 40px;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
}

.eye.left {
  left: 50px;
}

.eye.right {
  right: 50px;
}

.nose {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 12px;
  background: black;
  border-radius: 50% / 50%;
}

.mouth {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 10px;
  border-bottom: 3px solid black;
  border-radius: 0 0 50% 50%;
}
